body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#eef2f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.content{background-color: white;margin: 10% 20% 0;padding: 20px;}
.count{border: solid 2px #777;border-radius: 25px;text-align: center;float: left;width: 20%;}
.control  {margin: 6px;cursor: pointer;text-align: left;}
.col-3{float: left; width: 20%;}
.clear{clear: both;}
.btn{padding-top: 15px;margin-left: 20px;}
h4,span{cursor: pointer;}
.price{margin-left:20px ;}




 @media screen and (min-width: 768px) { 
  .control  {margin: 16px;cursor: pointer;text-align: left;}
  .price{margin-left: 80px;}
 }
 
 